$primary-gradient: linear-gradient(black, blue);

html, body {
    height: 100%;
}

body {
    background: $primary-gradient;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1 {
        font-size: 2rem;
        color: white;
    }
}